* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto condensed', sans-serif;
    /* border: 2px solid red; */
}

.nav-container {
    width: 100%;
    background-color: #333333;
}


.nav {
    margin: 0 auto;
    height: 80px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.nav-title {
    margin-left: 10px;
    font-size: 45px;
}

.nav-links {
    height: 50px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    height: 35px;
    width: 100px;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid black;
    box-shadow: 4px 3px #000000;
    background-color: #17a2b8;
}

.body-container {
    width: 1185px;
    margin: 0px auto;
    display: flex;
}

.left-column, .right-column{
    padding: 20px;
    margin: 10px;
}

.left-column {
    flex: 2;
}

.user-card, 
.bio-card,
.connections-request,
.your-connections
{
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-header {
    background-color: #333333;
    height: 110px;
    margin-bottom: 60px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.card-header img {
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    height: 100px;
    margin: 54px 0px 0px 20px;
    padding: 2px;
}

.card-body, 
.bio-content,
.connection-request-content{
    padding: 20px;
}

.your-connections-content{
    padding: 10px 0px 0px 10px;
}

.card-body h1, h3, p{
    margin: 10px 0px;
}

.icon{
    height: 15px;
}

.bio-header,
.connections-request-header,
.your-connections-header {
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
}

.class-date {
    font-size: 18px;
    color: lightslategrey;
}

.right-column {
    flex: 1;
}

.notif-circle {
    background-color: lightslategray;
    color: black;
    border-radius: 50%;
    padding: 0px 10px;
}

.friend-request,
.added-connections {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.left-side-request-content,
.right-side-request-content,
.added-connections-content {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.user-pics,
.yes-no-icons{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
}